@font-face {
    font-family: 'Snowstorm';
    src: url('../../fonts/useanyfont/Snowstorm.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-size: x-large;
}

@media screen and (min-width: 0px) and (max-width: 800px) {

    .itemDescription {
        border: 2px dashed #020209;
        border-radius: 5px;
        margin-top: 10px;

        background-color: rgba(4, 4, 37, 0.4);
        margin-right: 20px;
        margin-left: 20px;

        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding: 10px;

    }

    .cartControlsWrapper {
        display: block;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 20px;
    }
}

@media screen and (min-width: 800px) {

    .itemDescription {
        border: 2px dashed #020209;
        border-radius: 5px;
        margin-top: 10px;

        background-color: rgba(4, 4, 37, 0.4);
        margin-right: 20px;
        margin-left: 20px;

        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding: 10px;

    }

    .cartControlsWrapper {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }

}

.cartContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    flex-wrap: nowrap;
    color: white;

    font-size: large;
    font-family: 'Roboto', sans-serif;
}

.descrWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
}

.cartElement {
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.thumbWrapper {
    position: relative;
    width: 80px;
    height: 80px;
    overflow: hidden;
    border-radius: 5px;
}

.thumbWrapper img {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 100%;
    width: auto;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border-radius: 5px;

}

.itemDescription p {
    width: 150px; /* Ширина блока */
    word-wrap: normal;
}



