@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');

@font-face {
    font-family: 'Snowstorm';
    src: url('../../fonts/useanyfont/Snowstorm.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-size: x-large;
}

.grid {
    margin: 50px;
    padding: 20px;
    background-color: transparent;
    border: 1px solid transparent;
    display: grid;
    grid-gap: 40px;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-auto-rows: minmax(200px, auto);
}

.grid > div {
    border: 1px solid transparent;
    border-radius: 3px;
    background-color: transparent;
    font-size:250%;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

.showMenu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.pageButton {
    margin-right: 30px
}

.catDescription {
    font-family: 'Roboto', sans-serif;
    font-size: large;
    padding: 20px;
}

.singleTile {
    font-family: 'Snowstorm', cursive;
    font-size: 300%;
}

@media screen and (min-width: 0px) and (max-width: 800px) {
    .singlePoster {
        display: flex;
        flex-direction: column;
        justify-content: center;

    }

    .singlePosterContent {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        margin: 20px;
    }

    .tags {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .singleTag {
        margin: 5px;
    }
}

@media screen and (min-width:800px) {
    .singlePoster {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .singlePosterContent {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        margin: 20px;
    }

    .tags {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .singleTag {
        margin: 5px;
    }

}

.singlePoster h2,h3 {
    font-family: 'Snowstorm', cursive;
    font-size: xx-large;
    text-align: left;
}

.textBlock {
    display: inline-flex;
    max-width: 1000px;
    justify-content: center;
}

.hover02 {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}


.hover02:hover {
    -webkit-transform: scale(1.03);
    transform: scale(1.03);
    cursor: pointer;
}

.hover02 img {
    -webkit-box-shadow:
            0px 0px 0px 2px rgba(0,0,0,0.6),
            0px 0px 0px 14px #fff,
            0px 0px 0px 18px rgba(0,0,0,0.2),
            6px 6px 8px 17px #555;

    -moz-box-shadow:
            0px 0px 0px 2px rgba(0,0,0,0.6),
            0px 0px 0px 14px #fff,
            0px 0px 0px 18px rgba(0,0,0,0.2),
            6px 6px 8px 17px #555;

    box-shadow:
            0px 0px 0px 2px rgba(0,0,0,0.6),
            0px 0px 0px 14px #fff,
            0px 0px 0px 18px rgba(0,0,0,0.2),
            6px 6px 8px 17px #555;
}


.hover03 {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}


.hover03:hover {
}

.hover03 img {
    -webkit-box-shadow:
            0px 0px 0px 2px rgba(0,0,0,0.6),
            0px 0px 0px 14px #fff,
            0px 0px 0px 18px rgba(0,0,0,0.2),
            6px 6px 8px 17px #555;

    -moz-box-shadow:
            0px 0px 0px 2px rgba(0,0,0,0.6),
            0px 0px 0px 14px #fff,
            0px 0px 0px 18px rgba(0,0,0,0.2),
            6px 6px 8px 17px #555;

    box-shadow:
            0px 0px 0px 2px rgba(0,0,0,0.6),
            0px 0px 0px 14px #fff,
            0px 0px 0px 18px rgba(0,0,0,0.2),
            6px 6px 8px 17px #555;
}

.typeWrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.classTypeSelector {
    background-color: #645f5b;

    /*shadow*/
    -webkit-box-shadow: 3px 3px 3px #000;
    -moz-box-shadow: 3px 3px 3px #000;
    box-shadow: 3px 3px 3px #000;
    margin-bottom: 20px;
}

.viewedPosters {
    margin-bottom: 15px;
}







