.grid {
    margin: 50px;
    padding: 20px;
    background-color: transparent;
    border: 1px solid transparent;
    display: grid;
    grid-gap: 40px;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-auto-rows: minmax(200px, auto);
}

.grid > div {
    border: 1px solid transparent;
    border-radius: 3px;
    background-color: transparent;
    font-size:250%;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

.showMenu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.pageButton {
    margin-right: 30px
}
