@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');

.hover01 {

    background-size: 200% auto;
    -webkit-background-size: 200% auto;
    -moz-background-size: 200% auto;

    background-position: -0% 0;
    background-image: linear-gradient(to right, rgba(255,255,255,0) 50%, #908b84 300%);
    transition: background-position 0.5s ease-out;
    -webkit-transition: background-position 0.5s ease-out;
    border-radius: 10px;


}
.hover01:hover {
    background-position: -100% 0;
    cursor: pointer;
}



@font-face {
    font-family: 'Snowstorm';
    src: url('../fonts/useanyfont/Snowstorm.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-size: x-large;
}

.topButton {
    font-size: x-small;
}


.logo {
    display: flex;
    /* max-width: 900px;
    max-height: 450px; */
    margin: 10px auto;
    justify-items: center;
    justify-content: center;
}



.navBarContainer {
    display: flex;
    max-width: 900px;
    /* max-width: 900px;
    max-height: 450px; */
    margin: 10px auto;
    justify-items: center;
    justify-content: center;
}




.wrapper {
    display: flex;
    flex-direction: column;
    text-decoration: solid black;
    font-size: 250%;
    font-family: 'Snowstorm', cursive;
    cursor: pointer;


}

.wrapper img {
    /* margin: 10px; */

}

.actionIconsContainer {
    margin-top: 70px;
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: 150px 150px 150px 150px;
    justify-content: center;
    align-items: center;
    grid-column-gap: 70px;




}

.actionIconsContainer div, img {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin: 0 auto;
    font-family: 'Snowstorm', cursive;


}


.textContainerLine {
    font-size: 130%;
}

.socialPane {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    justify-content: center;
}

.socialPane div{
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    justify-content: center;
}

.socialPane img{
    margin: 5px;
}

.Copyright {
    margin: 0 auto;
    font-family: Roboto, sans-serif;
}

section {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

@media screen and (min-width: 0px) and (max-width: 800px) {

    .container {
        /* margin-right: 25px; */
    }

    .navigation {
        display: none;
    }

    .logo {
        max-width: 320px;

    }

    .separator {
        display: none;
    }


    .separatorMobile {
        display: flex;
        align-items: center;
        font-family: 'Snowstorm', cursive;
        font-size: 180%;
    }

    .separatorMobile::before,
    .separatorMobile::after {
        content: '';
        display: block;
        width: 100%;
        height: 1px;
        background: dimgray;
    }

    .separatorMobile-text {
        margin: 0 10px;
    }

    .actionIconsContainer img{
        margin-top: 60px;
        margin-bottom: 10px;
    }

    .categories {
        margin-top: 30px;
        margin-bottom: 50px;
        display: grid;
        grid-template-columns: 320px;
        grid-template-rows: 320px;
        justify-content: center;
        align-items: center;
        grid-row-gap: 50px;

    }

    .flexWrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .flexWrapper img{
        width: 200px;
    }

    .flexWrapper h2{
        font-size: 180%;
        margin: 0 auto;
    }

    .actionButton {
        width: 300px;

    }

    .textContainer {
        text-align: center;
        font-size: 120%;
        font-family: 'Snowstorm', cursive;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .textContainer li {
        list-style-type: none;
    }


}


@media screen and (min-width: 800px) and (max-width: 1300px) {

    .mobileNavigation {
        display: none;
    }

    .categories {
        margin-top: 40px;
        margin-bottom: 100px;
        display: grid;
        grid-template-columns: 300px 300px 300px;
        grid-template-rows: 300px 300px 300px 300px;
        justify-content: center;
        align-items: center;
        grid-column-gap: 20px;
        grid-row-gap: 100px;

    }

    .separatorMobile {
        display: none;
    }

    .flexWrapper {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .flexWrapper img{
        width: 120px;
    }

    .flexWrapper h2{
        font-size: 170%;

    }

    .actionButton {
        width: 480px;

    }

    .textContainer {
        text-align: center;
        font-size: 120%;
        font-family: 'Snowstorm', cursive;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .textContainer li {
        list-style-type: none;
    }


}

@media (min-width: 1300px) and (max-width: 1700px) {

    .mobileNavigation {
        display: none;
    }

    .separatorMobile {
        display: none;
    }

    .categories {
        margin-top: 40px;
        margin-bottom: 100px;
        display: grid;
        grid-template-columns: 300px 300px 300px;
        grid-template-rows: 300px 300px 300px 300px;
        justify-content: center;
        align-items: center;
        grid-column-gap: 20px;
        grid-row-gap: 100px;

    }


    .flexWrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .actionButton {
        width: 280px;

    }

    .flexWrapper img{
        width: 100px;
    }

    .textContainer {
        padding-left: 10%;
        text-align: left;
        font-size: 140%;
        font-family: 'Snowstorm', cursive;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

}



@media (min-width: 1700px) {

    .mobileNavigation {
        display: none;
    }

    .separatorMobile {
        display: none;
    }

    .categories {
        margin-top: 40px;
        margin-bottom: 100px;
        display: grid;
        grid-template-columns: 300px 300px 300px 300px;
        grid-template-rows: 300px 300px 300px;
        justify-content: center;
        align-items: center;
        grid-column-gap: 20px;
        grid-row-gap: 100px;

    }

    .flexWrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .actionButton {
        width: 280px;

    }

    .flexWrapper img{
        width: 100px;
    }

    .textContainer {
        padding-left: 10%;
        text-align: left;
        font-size: 140%;
        font-family: 'Snowstorm', cursive;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }



}


.flexColumn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}




