.navBarStyle {
    color: rgba(255, 255, 255, 1);
    fill: white;
    background-color: rgba(100, 95, 90, 0.87);
    text-decoration-color: white;

    outline: 1px dashed #98abb9;
    outline-offset: -5px;

    background-color: #373a3c;
    margin: 10px;

    /*shadow*/
    -webkit-box-shadow: 3px 3px 3px #000;
    -moz-box-shadow: 3px 3px 3px #000;
    box-shadow: 3px 3px 3px #000;
    margin-bottom: 20px;

}

.navBarStyle_2 {
    z-index: 50;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background: rgba(251, 246, 239, 1);
    border-radius: 5px;
    margin-top: 50px;
    position: fixed;

}

.mobileMenuStyle {

}

.drawerStyle {
    z-index: 150;
}
